:root {
  --CorPrincipal: #fe5a7b;
  --CorSecundaria: #150050;

  --Magenta40B: #660a1d;
  --Magenta50B: #80001a;
  --Magenta60B: #991f37;
  --Magenta70B: #b2364f;
  --Magenta80B: #cc4863;
  --Magenta90B: #e55c78;
  --Magenta60S: #fe6684;
  --Magenta40S: #fe98ad;
  --Magenta30S: #feb2c1;
  --Magenta20S: #fecbd5;
  --Magenta10S: #fee5ea;

  --Neutro20B: #1f2333;
  --Neutro40B: #363f5e;
  --Neutro50B: #495580;
  --Neutro60B: #6b7799;
  --Neutro70B: #8f98b2;
  --Neutro80B: #abb4cc;
  --Neutro90B: #cfd5e5;
  --Neutro100B: #eff2fa;
}

.Principal {
  color: var(--CorPrincipal);
}
.Secundaria {
  color: var(--CorSecundaria);
}
.Branca {
  color: var(--Neutro100B);
}

/* MAGENTA BASE */
.Magenta40B {
  color: var(--Magenta40B);
}
.Magenta50B {
  color: var(--Magenta50B);
}
.Magenta60B {
  color: var(--Magenta60B);
}
.Magenta70B {
  color: var(--Magenta70B);
}
.Magenta80B {
  color: var(--Magenta80B);
}
.Magenta90B {
  color: var(--Magenta90B);
}

/* MAGENTA SUAVE */
.Magenta60S {
  color: var(--Magenta60S);
}
.Magenta40S {
  color: var(--Magenta40S);
}
.Magenta30S {
  color: var(--Magenta30S);
}

.Magenta20S {
  color: var(--Magenta20S);
}

.Magenta10S {
  color: var(--Magenta10S);
}

/* NEUTROS */
.Neutro20B {
  color: var(--Neutro20B);
}
.Neutro40B {
  color: var(--Neutro40B);
}
.Neutro50B {
  color: var(--Neutro50B);
}
.Neutro60B {
  color: var(--Neutro60B);
}
.Neutro70B {
  color: var(--Neutro70B);
}
.Neutro80B {
  color: var(--Neutro80B);
}
.Neutro90B {
  color: var(--Neutro90B);
}

/* CLASSES PRINCIPAIS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 44px;
  font-weight: bold;
}

.subH1 {
  font-size: 20px;
  font-weight: 500;
}

h2 {
  font-size: 44px;
  font-weight: bold;
}

.grid {
  height: fit-content;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  padding-block: auto;
}

.hat {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

/*SESSÃO #01 - PRINCIPAL ----------------------------------------------------------------*/
main {
  background-color: var(--CorPrincipal);
  margin: 0px;
  flex: 1;
  height: fit-content;
  padding-top: 120px;
  padding-bottom: 120px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.tit {
  grid-column-start: 1;
  grid-column-end: 7;
  display: flex;
  flex-direction: column;
  gap: 52px;
  height: auto;
  justify-content: center;
}

.btnCTA {
  background-color: var(--CorSecundaria);
  padding: 24px 48px;
  color: var(--Neutro100B);
  font-size: 20px;
  font-weight: bold;
  border-radius: 16px;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}
.imgs_container {
  position: relative;
  grid-column-start: 8;
  grid-column-end: 13;
  height: 570px;
  align-items: center;
}

.caixaAzul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 464px;
  border-radius: 16px;
  background-color: var(--CorSecundaria);
}
.img_Hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-4deg);
  height: 560px;
  z-index: 1;
}

/*SESSÃO #01.1 - FAÇA SUA PRÉ-INSCRIÇÃO --------------------------------------------------------------------------------------------------------------------------------*/
.linha_sec {
  position: absolute;
  background-color: var(--Magenta10S);
  margin: 0px;
  flex: 1;
  gap: 8px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  transform: rotate(-1deg);
  transform: translateY(-20px);
}

.tx_line {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

/*SESSÃO #02 - VÍDEO --------------------------------------------------------------------------------------------------------------------------------*/
.sec_video {
  background-color: var(--Branco);
  margin: 0px;
  flex: 1;
  height: fit-content;
  padding-top: 120px;
  padding-bottom: 120px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.tit_h2 {
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
