:root {
  --CorPrincipal: #fe3351;
  --CorSecundaria: #150050;

  --Magenta40B: #660015;
  --Magenta50B: #80001a;
  --Magenta60B: #991f37;
  --Magenta70B: #b2364f;
  --Magenta80B: #cc4863;
  --Magenta90B: #e55c78;
  --Magenta60S: #fe6684;
  --Magenta40S: #fe98ad;
  --Magenta30S: #feb2c1;
  --Magenta20S: #fecbd5;
  --Magenta10S: #fee5ea;

  --Neutro20B: #1f2333;
  --Neutro40B: #363f5e;
  --Neutro50B: #495580;
  --Neutro60B: #6b7799;
  --Neutro70B: #8f98b2;
  --Neutro80B: #abb4cc;
  --Neutro90B: #cfd5e5;
  --Neutro100B: #eff2fa;
}

.Principal {
  color: var(--CorPrincipal);
}
.Secundaria {
  color: var(--CorSecundaria);
}
.Branca {
  color: var(--Neutro100B);
}

/* MAGENTA BASE */
.Magenta40B {
  color: var(--Magenta40B);
}
.Magenta50B {
  color: var(--Magenta50B);
}
.Magenta60B {
  color: var(--Magenta60B);
}
.Magenta70B {
  color: var(--Magenta70B);
}
.Magenta80B {
  color: var(--Magenta80B);
}
.Magenta90B {
  color: var(--Magenta90B);
}

/* MAGENTA SUAVE */
.Magenta60S {
  color: var(--Magenta60S);
}
.Magenta40S {
  color: var(--Magenta40S);
}
.Magenta30S {
  color: var(--Magenta30S);
}

.Magenta20S {
  color: var(--Magenta20S);
}

.Magenta10S {
  color: var(--Magenta10S);
}

/* NEUTROS */
.Neutro20B {
  color: var(--Neutro20B);
}
.Neutro40B {
  color: var(--Neutro40B);
}
.Neutro50B {
  color: var(--Neutro50B);
}
.Neutro60B {
  color: var(--Neutro60B);
}
.Neutro70B {
  color: var(--Neutro70B);
}
.Neutro80B {
  color: var(--Neutro80B);
}
.Neutro90B {
  color: var(--Neutro90B);
}

/* CLASSES PRINCIPAIS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 44px;
  font-weight: bold;
}

.subH1 {
  font-size: 20px;
  font-weight: 500;
}

h2 {
  font-size: 44px;
  font-weight: bold;
}

.grid {
  height: fit-content;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  padding-block: auto;
  padding-inline: 24px;
  row-gap: 40px;
}

.hat {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

/*SESSÃO #01 - PRINCIPAL ----------------------------------------------------------------*/
main {
  background-color: var(--CorPrincipal);
  margin: 0px;
  flex: 1;
  height: fit-content;
  padding-top: 120px;
  padding-bottom: 120px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.tit {
  grid-column-start: 1;
  grid-column-end: 7;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: auto;
  justify-content: center;
}

.btnCTA {
  background-color: var(--CorSecundaria);
  padding: 24px 48px;
  color: var(--Neutro100B);
  font-size: 20px;
  font-weight: bold;
  border-radius: 16px;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}
.imgs_container {
  position: relative;
  grid-column-start: 8;
  grid-column-end: 13;
  aspect-ratio: 3 / 3.5;
  overflow: hidden;
  border-radius: 16px;
  transition: all 0.4s ease;
}

.imgs_container:hover {
  transform: rotate(-4deg);
}

.bg_img {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease;
}

.bg_img.active {
  opacity: 1;
  z-index: 0;
}

.pontos {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 2;
}

.ponto {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--Magenta60B);
  transition: background-color 0.3s ease;
}

.ponto.ativo {
  background-color: var(--Magenta10S);
}

.gradiente_hero {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: linear-gradient(
    180deg,
    rgba(128, 0, 26, 0),
    rgba(128, 0, 26, 1)
  ); /* ou com cores diferentes */
}

/*SESSÃO #01.1 - FAÇA SUA PRÉ-INSCRIÇÃO --------------------------------------------------------------------------------------------------------------------------------*/
.linha_sec {
  position: absolute;
  background-color: var(--Magenta10S);
  height: 64px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;

  /* junta as duas transformações */
  transform: rotate(-1deg) translateY(-20px);
}

.scroll_wrapper {
  display: inline-flex;
  width: max-content; /* garante largura do conteúdo */
  animation: mover 20s linear infinite;
}
.tx_line {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 12px;
  user-select: none;
  white-space: nowrap;
}

@keyframes mover {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*SESSÃO #02 - VÍDEO --------------------------------------------------------------------------------------------------------------------------------*/
.sec_video {
  background-color: var(--Branco);
  margin: 0px;
  flex: 1;
  height: fit-content;
  padding-top: 120px;
  padding-bottom: 120px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.tit_h2 {
  grid-column-start: 2;
  grid-column-end: 12;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image_video {
  grid-column-start: 2;
  grid-column-end: 12;
  height: fit-content;
  position: relative;
  justify-items: center;
  overflow: hidden;
  border-radius: 16px;
}

.image_video:hover .capa_video {
  transform: scale(1.05);
}

.capa_video {
  height: 100%;
  transition: transform 0.4s ease; /* Aqui é o lugar certo */
  display: block;
  object-fit: cover;
}

.PlayIcon {
  position: absolute;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal {
  display: none; /* isso é essencial */
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

#videoModal {
  display: none;
}

.modal_content {
  position: relative;
  background: #000;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  overflow: hidden;
  max-width: 90vw;
  max-height: 80vh;
  width: 100%;
}

.close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 28px;
  color: white;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}

#youtubeVideo {
  height: 100%;
  width: 100%;
}

/*---------------------------------------------*/
@media (max-width: 768px) {
  main {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  .subH1 {
    font-size: 16px;
  }

  h2 {
    font-size: 32px;
  }

  .hat {
    font-size: 14px;
  }

  .btnCTA {
    padding: 24px 24px;
    font-size: 16px;
    border-radius: 12px;
  }

  .grid {
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
  }

  .tit {
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .imgs_container {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 7;
    aspect-ratio: 1.2/1;
  }

  .tx_line {
    font-size: 12px;
  }

  .tit_h2 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .image_video {
    grid-column-start: 1;
    grid-column-end: 7;
    aspect-ratio: 4 / 3;
  }

  .PlayIcon {
    height: 28px;
  }
}
